.buttonNotificationsContainer {
    justify-content: center;
    display: inline-flex;
}

.buttonNotificationsContainerBadge {
    margin-left: .5rem;
}

.sideNavBarContainer {
    display: inline-table;
}

@media (min-width: 993px) {
    .sideNavBarContainer {
        display: none;
    }
}