.sideBarContainer {
    width: 10rem;
    padding: 1rem 0.5rem;

    background: var(--green);
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sideBarContainer a{
    color: var(--white);
}

.sideBarContainer a:hover{
    color: var(--background-dark) !important;
}

.accordionContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.menuCard {
    background-color: var(--green-dark) !important;
    justify-content: center;
    align-items: center;
}

.menuCardHeader {
    width: 100%;
    justify-content: space-evenly;
    padding: .75rem 1.25rem !important;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: var(--white) !important;
    background-color: var(--green-dark) !important;
    cursor: pointer;
}

.menuCardHeader::after{
    display: none !important;
}

.menuCardHeader span {
    font: 200 16px Nunito, sans-serif;
}

.menuCardBody {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.menuCardBodyItem {
    margin-bottom: 0.5rem;
    transition-duration: 0.4s;
    border-radius: 2px;
    padding: 0.2rem 0;
}

.menuCardBodyItem:hover {
    background-color: var(--green-dark) !important;
}

.selectedMenuCardBodyItem {
    margin-bottom: 0.5rem;
    transition-duration: 0.4s;
    padding: 0.2rem 0;
    background-color: var(--green-dark) !important;
    border-radius: 2px;
}

.menuCardBody span {
    font: 200 13px Nunito, sans-serif;
}

@media (max-width: 992px) {
    .sideBarContainer {
        display: none;
    }
}